<mat-card class="menu-card">

  <mat-toolbar class="menu-toolbar">
    <mat-toolbar-row>
      <span>В избранное добавлено: {{favoriteCount}} элементов</span>
      <span class="example-spacer"></span>
      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedOption" (selectionChange)="doSort()" placeholder="Сортировка">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
  <div fxFlex=30% *ngFor="let film of films">
    <app-film-item [film]="film" (markFavorite)="addToFavorites($event)"></app-film-item>
  </div>
</div>
