<mat-card fxFlex>
    <mat-card-header>       
     <mat-card-title>
        <h5>{{film.name}}</h5>
      </mat-card-title>
      <mat-card-subtitle>Год : {{film.year}}</mat-card-subtitle>
    </mat-card-header> 
    <mat-card-content fxLayoutAlign="center center">
      <img mat-card-image src="{{film.imgUrl}}" alt="{{film.name}}">
    </mat-card-content>
    <mat-card-content>
      <details-inner>
        {{film.description | slice:0:100}}... <!-- .substring(0,110) -->
      </details-inner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Открыть</button>
      <button mat-button>Редактировать</button>
    </mat-card-actions>
  </mat-card>